:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	width: 100vw;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
}

img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}

#app > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.report {
	padding: 0.75rem 0;
	width: 80%;
	border-top: 5px solid #190b4b;
	border-bottom: 5px solid #190b4b;
}

.report-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
}

.report-header .report-column {
	width: 63%;
}

.report-header .datetime-column {
	width: 35%;
}

.report-main .report-column {
	width: 35%;
}

.report-main .report-column > div strong {
	width: 40px;
	display: inline-block;
	margin-right: 2rem;
}

.report-main {
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
	grid-template-columns: 2fr 1fr;
}

.report-main h2 {
	font-size: 1.5rem;
	text-align: left;
}

.report-main h3 {
	font-size: 1rem;
	color: #3a2d08;
	margin: 0;
}

.report-table {
	display: flex;
	align-items: center;
}

.report-main table {
	font-size: 0.9rem;
	width: 95%;
	border-spacing: 4px 0;
}

.report-main table td {
	background-color: #f2f1f1;
}

.report-header table td {
	border: 1px solid #000;
}

.report-header table {
	font-size: 0.9rem;
	width: 100%;
}

.report-header .datetime-column table .label {
	width: 30%;
}

.report-header thead th, .report-header tbody td {
	padding: 0.5rem;
}

.report-main thead th {
	padding: 0.7rem;
}

.report-main tbody td {
	padding: 0.7rem;
}

.report-main table tbody tr :first-child, .report-main table tbody tr .label-cell {
	text-align: left;
	font-weight: bold;
	width: 20%;
}

.report-main table tbody td:not(:first-child), .report-main table tbody td:not(.label-cell) {
	border-bottom: 1px solid #000;
}

.report h2 {
	color: #0b7710;
	text-align: left;
}

.report-header .label {
	background-color: #c3c3be;
}

.report-header .data {
	background-color: #f2f1f1;
}

#body-composition-table thead {
	background-color: #80ca80;
	color: #fff;
}

#body-composition-table tbody tr :first-child, .report-main table tbody tr .label-cell {
	background-color: #bde7a1;
	color: #04683e;
}

#fat-table h2 {
	color: #567c92;
}

#fat-table thead {
	background-color: #567c92;
	color: #fff;
}

#fat-table tbody tr :first-child {
	background-color: #6bc3b7;
	color: #567c92;
	width: 40%;
}

#muscle-fat-control-table h2 {
	color: #c64466;
}

#muscle-fat-control-table thead {
	background-color: #c64466;
	color: #fff;
}

#muscle-fat-control-table tbody tr :first-child {
	background-color: #f7b6cc;
	color: #c64466;
	width: 40%;
}

.report-chart {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.report-chart .chart-container {
	height: 80%;
	width: 100%;
	position: relative;
}

.report-chart .chart {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	overflow: hidden;
	border-radius: 5%;
	height: 100%;
}

.chart-quadrant {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.chart .chart-quadrant:nth-child(1) {
	justify-content: flex-start;
	align-items: flex-start;
}

.chart .chart-quadrant:nth-child(2) {
	justify-content: flex-start;
	align-items: flex-end;
}

.chart .chart-quadrant:nth-child(3) {
	justify-content: flex-end;
	align-items: flex-start;
}

.chart .chart-quadrant:nth-child(4) {
	justify-content: flex-end;
	align-items: flex-end;
}

#muscle-mass-chart .chart-quadrant:nth-child(1) {
	background-color: #cf5978;
}

#muscle-mass-chart .chart-quadrant:nth-child(2) {
	background-color: #7d9aab;
}

#muscle-mass-chart .chart-quadrant:nth-child(3) {
	background-color: #a7e3db;
}

#muscle-mass-chart .chart-quadrant:nth-child(4) {
	background-color: #fac1d4;
}

#fat-chart {
	grid-row-end: span 2;
}

#fat-chart .chart-quadrant:nth-child(1) {
	background-color: #f7e698;
}

#fat-chart .chart-quadrant:nth-child(2) {
	background-color: #eae6d0;
}

#fat-chart .chart-quadrant:nth-child(3) {
	background-color: #f4f8d1;
}

#fat-chart .chart-quadrant:nth-child(4) {
	background-color: #f5dc6a;
}

.human {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	height: 85%;
}

.human span {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.human span.body-data-label {
	top: 33%;
	font-size: 0.7rem;
}

.human span.body-data {
	top: 40%;
	font-weight: bold;
	font-size: 0.8rem;
}

.human svg {
	color: #fff;
	height: 100%;
	width: 100%;
	font-weight: 350;
}

.hand-indication {
	position: absolute;
	right: -22px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 15px;
	line-height: 15px;
	writing-mode: vertical-lr;
	color: #505050;
}

.report-footer {
	width: 80%;
	margin-bottom: 3rem;
	text-align: right;
}

.report-footer span {
	text-transform: uppercase;
	font-size: 0.9rem;
}

.report-footer strong {
	text-transform: none;
	font-style: italic;
	font-size: 1rem;
}